@use "sass:math";

$font-sans: system-ui;

$spacing: 16px !default;

$spacing-sm: floor($spacing - 4) !default;
$spacing-xs: floor(math.div($spacing, 2)) !default;
$spacing-xxs: floor(math.div($spacing, 4)) !default;

$spacing-l: ceil(math.div($spacing, 2) * 3) !default;
$spacing-xl: ceil(math.div($spacing, 2) * 4) !default;
$spacing-xxl: ceil(math.div($spacing, 2) * 5) !default;
$spacing-xxxl: ceil(math.div($spacing, 2) * 6) !default;
$spacing-oversize: ceil(math.div($spacing, 2) * 7) !default;

// breakpoints
$breakpoint-vlg: 1600px;
$breakpoint-lg: 1200px;
$breakpoint-md: 960px;
$breakpoint-sm: 768px;
$breakpoint-xs: 375px;

$color-white: #fff;
$color-grey: #656565;
$color-black100: #1B1C20;
$color-black: $color-black100;
$color-accent4: #6CDDFA;
$color-teal: #011D24;
$color-teal-light: #175362;
$color-teal-light2: #2C7588;
$color-teal-warning: #DE8A28;

$color-primary: $color-black;
$color-primary-light: lighten($color-primary, 70%);
$color-secondary: $color-accent4;
$color-secondary-light: lighten($color-secondary, 30%);
$color-background: $color-white;
$color-text-primary: $color-black;
$color-text-secondary: $color-grey;

$color-warning: $color-teal-warning;
$color-success: #57BAD4;
