@use './variables';

:root {
  // Font variable is injected by @next/font in /containers/Root
  // https://nextjs.org/docs/api-reference/next/font
  //  --font-sans: #{variables.$font-sans};
  //  --font-mono: #{variables.$font-mono};

  --color-white: #{variables.$color-white};
  --color-black: #{variables.$color-black};
  --color-teal: #{variables.$color-teal};
  --color-teal-light: #{variables.$color-teal-light};
  --color-teal-light2: #{variables.$color-teal-light2};

  --color-primary: #{variables.$color-primary};
  --color-primary-light: #{variables.$color-primary-light};
  --color-secondary: #{variables.$color-secondary};
  --color-secondary-light: #{variables.$color-secondary-light};
  --color-background: #{variables.$color-background};
  --color-text-primary: #{variables.$color-text-primary};
  --color-text-secondary: #{variables.$color-text-secondary};
  --color-warning: #{variables.$color-warning};
  --color-success: #{variables.$color-success};

  --spacing: #{variables.$spacing};
  --spacing-sm: #{variables.$spacing-sm};
  --spacing-xs: #{variables.$spacing-xs};
  --spacing-xxs: #{variables.$spacing-xxs};
  --spacing-l: #{variables.$spacing-l};
  --spacing-xl: #{variables.$spacing-xl};
  --spacing-xxl: #{variables.$spacing-xxl};

  --breakpoint-vlg: #{variables.$breakpoint-vlg};
  --breakpoint-lg: #{variables.$breakpoint-lg};
  --breakpoint-md: #{variables.$breakpoint-md};
  --breakpoint-sm: #{variables.$breakpoint-sm};
  --breakpoint-xs: #{variables.$breakpoint-xs};

  --font-size-title: 72px;
  --font-size-uppercase: 24px;
  --font-size-button: 18px;
}

::selection {
  color: var(--color-background);
  background: var(--color-secondary);
}

::-webkit-scrollbar {
//   width: 0px;
}

html,
body,
main {
  font-family: var(--font-sans);
  padding: 0;
  margin: 0;
  color: var(--color-text-primary);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html, body, main, #__next {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

p {
  line-height: 1.625rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, button {
  font-family: var(--font-sans);
  font-size: var(--font-size-button);
  font-weight: 400;
}

// DARK MODE

@media (prefers-color-scheme: dark) {
  html {
  }
  body {
  }
}
