@use '@/styles/variables';

.spacing {
	margin: 0;
	border: none;
}

.spacing-hidden {
  display: none;
}

.spacing-regular {
	margin-top: var(--spacing);
}

.spacing-xxs {
	margin-top: var(--spacing-xxs);
}

.spacing-xs {
	margin-top: var(--spacing-xs);
}

.spacing-sm {
	margin-top: var(--spacing-sm);
}

.spacing-l {
	margin-top: var(--spacing-l);
}

.spacing-xl {
	margin-top: var(--spacing-xl);
}

.spacing-xxl {
	margin-top: var(--spacing-xxl);
}


// RESPONSIVE

// XS
@media screen and (max-width: #{variables.$breakpoint-xs}){
  .xs-spacing-hidden {
    display: none;
  }
  
  .xs-spacing-regular {
    margin-top: var(--spacing);
  }

  .xs-spacing-xxs {
    margin-top: var(--spacing-xxs);
  }

  .xs-spacing-xs {
    margin-top: var(--spacing-xs);
  }

  .xs-spacing-sm {
    margin-top: var(--spacing-sm);
  }

  .xs-spacing-l {
    margin-top: var(--spacing-l);
  }

  .xs-spacing-xl {
    margin-top: var(--spacing-xl);
  }

  .xs-spacing-xxl {
    margin-top: var(--spacing-xxl);
  }
}
// SMALL
@media screen and (min-width: #{variables.$breakpoint-xs}) and (max-width: #{variables.$breakpoint-sm}){
  .sm-spacing-hidden {
    display: none;
  }
  .sm-spacing-regular {
    margin-top: var(--spacing);
  }

  .sm-spacing-xxs {
    margin-top: var(--spacing-xxs);
  }

  .sm-spacing-xs {
    margin-top: var(--spacing-xs);
  }

  .sm-spacing-sm {
    margin-top: var(--spacing-sm);
  }

  .sm-spacing-l {
    margin-top: var(--spacing-l);
  }

  .sm-spacing-xl {
    margin-top: var(--spacing-xl);
  }

  .sm-spacing-xxl {
    margin-top: var(--spacing-xxl);
  }
}
// MEDIUM
@media screen and (min-width: #{variables.$breakpoint-sm}) and (max-width: #{variables.$breakpoint-md}){
  .md-spacing-hidden {
    display: none;
  }
  .md-spacing-regular {
    margin-top: var(--spacing);
  }

  .md-spacing-xxs {
    margin-top: var(--spacing-xxs);
  }

  .md-spacing-xs {
    margin-top: var(--spacing-xs);
  }

  .md-spacing-sm {
    margin-top: var(--spacing-sm);
  }

  .md-spacing-l {
    margin-top: var(--spacing-l);
  }

  .md-spacing-xl {
    margin-top: var(--spacing-xl);
  }

  .md-spacing-xxl {
    margin-top: var(--spacing-xxl);
  }
}
// LARGE
@media screen and (min-width: #{variables.$breakpoint-md}) and (max-width: #{variables.$breakpoint-lg}){
  .lg-spacing-hidden {
    display: none;
  }
  .lg-spacing-regular {
    margin-top: var(--spacing);
  }

  .lg-spacing-xxs {
    margin-top: var(--spacing-xxs);
  }

  .lg-spacing-xs {
    margin-top: var(--spacing-xs);
  }

  .lg-spacing-sm {
    margin-top: var(--spacing-sm);
  }

  .lg-spacing-l {
    margin-top: var(--spacing-l);
  }

  .lg-spacing-xl {
    margin-top: var(--spacing-xl);
  }

  .lg-spacing-xxl {
    margin-top: var(--spacing-xxl);
  }
}
// VERY LARGE
@media screen and (min-width: #{variables.$breakpoint-lg}){
  .vlg-spacing-hidden {
    display: none;
  }
  .vlg-spacing-regular {
    margin-top: var(--spacing);
  }

  .vlg-spacing-xxs {
    margin-top: var(--spacing-xxs);
  }

  .vlg-spacing-xs {
    margin-top: var(--spacing-xs);
  }

  .vlg-spacing-sm {
    margin-top: var(--spacing-sm);
  }

  .vlg-spacing-l {
    margin-top: var(--spacing-l);
  }

  .vlg-spacing-xl {
    margin-top: var(--spacing-xl);
  }

  .vlg-spacing-xxl {
    margin-top: var(--spacing-xxl);
  }
}
