/* Base container styles */
@utility container {
  margin-inline: auto; /* center horizontally */
  padding-inline: 1rem; /* 24px left/right padding */
  max-width: 1920px; /* default max width */
}

/* Dark theme via class */
@custom-variant dark (&:where(.dark, .dark *));
/* Helpers for data classes */
@custom-variant data-vertical (&[data-orientation~="vertical"]);
@custom-variant data-horizontal (&[data-orientation~="horizontal"]);
@custom-variant data-active (&[data-state~="active"]);
@custom-variant data-open (&[data-state~="open"]);
@custom-variant data-close (&[data-state~="close"]);
@custom-variant data-checked (&[data-state~="checked"]);
@custom-variant data-unchecked (&[data-state~="unchecked"]);
@custom-variant data-disabled (&[data-state~="disabled"]);

@theme {
  --background-image-gradient-radial: radial-gradient(
    80.81% 80.81% at 51.32% 80.81%,
    var(--tw-gradient-stops)
  );

  --background-image-token-banner: radial-gradient(
    83.04% 80.83% at 51.32% 80.81%,
    #733af8 18.5%,
    rgba(115, 58, 248, 0.53) 100%
  );
}
