@use '@/styles/variables';

.debugBreakpoint {
	font-family: var(--font-family-mono);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	display: flex; 
	align-items: center;
	justify-content: center;
}
// XS
@media screen and (max-width: #{variables.$breakpoint-xs}){
	.vlg {
		display: none;
	}
	.lg {
		display: none;
	}
	.md {
		display: none;
	}
	.sm {
		display: none;
	}
	.xs {
		display: inline-block;
	}
}
// SMALL
@media screen and (min-width: #{variables.$breakpoint-xs}) and (max-width: #{variables.$breakpoint-sm}){
	.vlg {
		display: none;
	}
	.lg {
		display: none;
	}
	.md {
		display: none;
	}
	.sm {
		display: inline-block;
	}
	.xs {
		display: none;
	}
}
// MEDIUM
@media screen and (min-width: #{variables.$breakpoint-sm}) and (max-width: #{variables.$breakpoint-md}){
	.vlg {
		display: none;
	}
	.lg {
		display: none;
	}
	.md {
		display: inline-block;
	}
	.sm {
		display: none;
	}
	.xs {
		display: none;
	}
}
// LARGE
@media screen and (min-width: #{variables.$breakpoint-md}) and (max-width: #{variables.$breakpoint-lg}){
	.vlg {
		display: none;
	}
	.lg {
		display: inline-block;
	}
	.md {
		display: none;
	}
	.sm {
		display: none;
	}
	.xs {
		display: none;
	}
}
// VERY LARGE
@media screen and (min-width: #{variables.$breakpoint-lg}){
	.vlg {
		display: inline-block;
	}
	.lg {
		display: none;
	}
	.md {
		display: none;
	}
	.sm {
		display: none;
	}
	.xs {
		display: none;
	}
}
