@theme {
  --animate-collapsible-down: collapsible-down 0.2s ease-out;

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  --animate-gradient-loader: gradient-loader 2s infinite ease-out forwards;
  @keyframes gradient-loader {
    0% {
      background-position: 0 100%;
    }
    100% {
      background-position: -200% 100%;
    }
  }

  --animate-ticker-left: ticker-left 60s linear infinite;
  @keyframes ticker-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
